
.note-container {
    text-align: center;
    margin: 5px 20px 5px 0px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #36BC1F;
    border-radius: 3px;
    width: 500px;
    box-shadow: 5px 5px 5px green;
}

.note-header {
    align-items: flex-end;
    font-weight: bold;
    font-size: small;
    text-align: right;
    border: 1px solid darkCyan;
    background-color: lightGray;
    padding: 2px;
    margin: 0 0 5px 0;
}


.note-header > * {
    margin-right: 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
    .note-header > *:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.close:hover {
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.content {
    border: 1px solid darkCyan;
    padding: 5px;
    margin: 0 0 5px 0;
}

.note-date {
    color: darkcyan;
    font-size: small;
    text-align: right;
}


