@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);

.details {
    list-style-type: none;
}

    .details .details-img {
        width: 300px;
        margin: 0 5px 0 5px;
    }

        .details .details-img > img {
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;
        }

    .details .details-item {
        height: 35px;
        border: 1px solid magenta;
        color: black;
        background-color: white;
        vertical-align: middle;
        padding: 5px 5px 5px 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;
    }

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: bold;
    text-align: center;
}
