@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);

.form {
    vertical-align: top;
    align-content: left;
    width: 200px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

