* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 10px;
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: 14px;
    }
}

html {
    font-size: calc( 10px + (14 - 10) * ((100vw - 400px) / ( 800 - 400)));
}

body {
    font-family: sans-serif;
    background: #260F26;
}

.page {
    width: 90%;
    max-width: 1000px;
    margin: 3rem auto;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    background: #361F36;
}
